{% extends "index.html" %}

{% load App_extras %}
{% load static %}

{% block content %}
<div class="ui link cards">
    <div class="ui raised link card">
        <div class="content">
            <div class="header">Rachmaninoff</div>
            <div class="meta">
                <span class="category">Russian</span>
            </div>
            <div class="description">
                Rachmaninoff was born on 1 April 1873 into a family of the Russian aristocracy in the
                Russian Empire.
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                1873-1943
            </span>
            <span>
                <i class="file audio outline icon"></i>
                2 Recordings
            </span>
        </div>
    </div>
    <div class="ui raised link card">
        <div class="content">
            <div class="header">Chopin</div>
            <div class="meta">
                <span class="category">Polish</span>
            </div>
            <div class="description">
                Frédéric François Chopin was a Polish composer and virtuoso pianist of the Romantic
                period who wrote primarily for solo piano.
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                1810-1849
            </span>
            <span>
                <i class="file audio outline icon"></i>
                10 Recordings
            </span>
        </div>
    </div>
</div>
{% endblock %}