{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pusher">
    <!-- Menu bar -->
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui massive inverted tabs menu">
            <a class="active item" data-tab="timeline">
                Timeline
            </a>
            <a class="item" data-tab="members">
                Members
            </a>
            <a class="item" data-tab="composers">
                Composers
            </a>
            <a class="item" data-tab="upload">
                Upload
            </a>
            <a class="item" data-tab="search">
                Search
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui action input">
                        <input type="text" placeholder="Anything">
                        <button class="ui inverted right labeled icon button">
                            <i class="search icon"></i>
                            Search
                        </button>
                    </div>
                </div>
                <div class="item">
                    <a href="/login/" class="ui inverted button">
                        <i class="user outline icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Body -->

    <div class="ui divider"></div>
    <div class="ui container">
        <div class="ui tab active" data-tab="timeline">
            <div class="ui segment">
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                    </div>
                    <div class="column">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                    </div>
                </div>
                <div class="ui vertical divider">
                    2022
                </div>
            </div>
            <div class="ui segment">
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                    </div>
                    <div class="column">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                        <img class="ui wireframe image" src="{% static '/images/ui/short-paragraph.png' %}">
                    </div>
                </div>
                <div class="ui vertical divider">
                    2021
                </div>
            </div>
        </div>

        <div class="ui tab" data-tab="members">
            <div class="ui link cards">
                <div class="card">
                    <div class="image">
                        <img src="{% static '/images/avatar2/matthew.png' %}">
                    </div>
                    <div class="content">
                        <div class="header">Matt Giampietro</div>
                        <div class="description">
                            Matthew is an interior designer living in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            Joined in 2013
                        </span>
                        <span>
                            <i class="file audio outline icon"></i>
                            33 Recordings
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static '/images/avatar2/molly.png' %}">
                    </div>
                    <div class="content">
                        <div class="header">Molly</div>
                        <div class="description">
                            Molly is a personal assistant living in Paris.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            Joined in 2011
                        </span>
                        <span>
                            <i class="file audio outline icon"></i>
                            35 Recordings
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static '/images/avatar2/elyse.png' %}">
                    </div>
                    <div class="content">
                        <div class="header">Elyse</div>
                        <div class="description">
                            Elyse is a copywriter working in New York.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            Joined in 2014
                        </span>
                        <span>
                            <i class="file audio outline icon"></i>
                            2 Recordings
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui tab" data-tab="composers">
            <div class="ui link cards">
                <div class="ui raised link card">
                    <div class="content">
                        <div class="header">Rachmaninoff</div>
                        <div class="meta">
                            <span class="category">Russian</span>
                        </div>
                        <div class="description">
                            Rachmaninoff was born on 1 April 1873 into a family of the Russian aristocracy in the
                            Russian Empire.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            1873-1943
                        </span>
                        <span>
                            <i class="file audio outline icon"></i>
                            2 Recordings
                        </span>
                    </div>
                </div>
                <div class="ui raised link card">
                    <div class="content">
                        <div class="header">Chopin</div>
                        <div class="meta">
                            <span class="category">Polish</span>
                        </div>
                        <div class="description">
                            Frédéric François Chopin was a Polish composer and virtuoso pianist of the Romantic
                            period who wrote primarily for solo piano.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            1810-1849
                        </span>
                        <span>
                            <i class="file audio outline icon"></i>
                            10 Recordings
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui tab" data-tab="upload">
            <form class="ui form" method="post" enctype="multipart/form-data" action="/upload/">
                {% csrf_token %}
                <h3 class="ui dividing header">Recording Information</h3>
                <div class="two fields">
                    <div class="field">
                        <label>Recording Name</label>
                        <div class="field">
                            <input type="text" name="RecordingName" placeholder="Recording Name" required="required">
                        </div>
                    </div>
                    <div class="field">
                        <label>Composer Name</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="ComposerName" required="required">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Composer</div>
                            <div class="menu">
                                <div class="item">Chopin</div>
                                <div class="item">Beethoven</div>
                                <div class="item">Mozart</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea type="input" name="Description" placeholder="Enter details here..."></textarea>
                </div>
                <div class="field">
                    <label>Recording File</label>
                    <input type="file" name="File" />
                </div>
                <button class="massive ui primary button" type="submit">
                    Submit
                </button>
            </form>
            <script>
                $('.ui.dropdown').dropdown();
            </script>
        </div>
    </div>

    <div class="ui divider"></div>
</div>


<script>
    $('.menu .item').tab();
</script>
{% endblock %}