{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pusher">
    <div class="ui divider"></div>
    <div class="ui container">
        <div class="segment">
            <a href="javascript:history.go(-1)" class="ui left labeled icon button">
                <i class="left arrow icon"></i>
                Back
            </a>
        </div>
        <h3>Enter New Password</h3>
        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form class="ui form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="ui button" type="submit">Submit</button>
          </form>
    </div>
</div>
{% endblock %}