{% extends 'base.html' %}
{% load App_extras %}
{% load static %}
{% block content %}

<div class="pusher">
    <div class="ui container">
        <div class="ui divider"></div>
        <div class="segment">
            <a href="/" class="ui left labeled icon button">
                <i class="left arrow icon"></i>
                Back
            </a>
        </div>
        {% csrf_token %}
        <h3 class="ui dividing header">User Information</h3>
        <div class="ui raised segment">
            <div class="ui items">
                {% for show_user in UserList %}
                <div class="item">
                    <div class="image">
                        <img class="ui medium circular image" src="{% static 'images\avatar2\elyse.png' %}">
                    </div>
                    <div class="content">
                        <a class="header">{{ show_user.get_username }}</a>
                        <div class="meta">
                            <span>Description</span>
                        </div>
                        <div class="description">
                            <p>{{ show_user.get_introduction }}</p>
                        </div>
                        <div class="extra">
                            Joined on {{ show_user.date_joined }}
                            {% if user.get_username == show_user.get_username %}
                            <div class="segment">
                                <a href="{{ " /user/"|addstr:user.get_username|addstr:"/change/" }}" class="ui left floated left labeled icon button">
                                    <i class="pencil alternate icon"></i>
                                    Change Info
                                </a>
                            </div>
                            <a href="/logout/" class="ui right floated right labeled icon button">
                                <i class="user outline icon"></i>
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
                ;
        })
        ;
</script>
{% endblock %}